/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .active-link{
    border-bottom: 2px solid #fff !important;
  }

  .heading{
    color: #c6496d;
    border-bottom: 2px solid #c6496d;
    /*crimson*/
  }

  p {
    color: #648caf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  dt{
    color: #c6496d !important;
  }

  /* h1, h2, h3, h4, h5, h6 {
    color: 
  } */

