<h4><span class="heading">Contact</span></h4>
<div class="row">
  <div class="col-md-10 shadow rounded p-0 offset-1 mt-3">
    <img class="border-bottom border-danger" src="../../../assets/img/building.jpg" height="60%" width="100%" style="border-width: 5px !important;">
    <div class="row">
      <div class="col-md-7 rounded border-left border-info m-4 p-4">
        <form>
          <div class="form-group">
            <label for="name">Fullname</label>
            <input id="name" class="form-control" type="text" placeholder="Fullname">
          </div>
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input id="mobile" class="form-control" type="text" placeholder="Mobile No.">
          </div>
          <div class="form-group">
            <!--<label for="comment">Fullname</label>-->
            <textarea id="comment" class="form-control" rows="3" placeholder="Comments"></textarea>
          </div>
        </form>
      </div>
      <div class="col-md-4 rounded shadow border-left border-info m-4 p-4">
        <h6><span class="heading">FoodApp UK</span></h6>
        <p>501, CBI Street, Sute 105<br> Yorkshere, 328025<br>UK</p>

        <h6><span class="heading">FoodApp India</span></h6>
        <p>786, CBI Colony, Lakeview 202<br> Madhapur, 500032<br>INDIA</p>
      </div>
    </div>
  </div>
</div>
